.poo{
   height: 200px; 
   width: 100%;
}
.rr{
   position: relative;
    bottom: top;
}
.size{
   width: 100%;
}
.tess{
   font-size: 25px;
   color: blue !important;
   margin-bottom: 50% !important;
}