/* .slick-dots li.slick-active button:before {
    color: #881798;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #881798;
  } */
  .banner__slider {
    position: relative;
  }
  .banner__slider:after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
      background: #090080;
      z-index: 1;
  }
  .banner__slider:before {
      position: absolute;
      content: "";
      background: url("../../public/images/banner-bottom-shape.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      top: auto;
      right: 0;
      bottom: -90px;
      width: 100%;
      height: 200px;
      z-index: 9;
  }
  @media (min-width: 1192px) {
    .slider,
  .slide {
      height: 80vh;
    }
  }
  
  .slide {
    position: relative;
    transition: 1s;
  }
  .slide .slide__img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  @media (min-width: 992px) {
    .slide .slide__img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  .slide .slide__img img {
    max-width: 100%;
    height: auto;
    opacity: 1 !important;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    transition: all 1s ease;
  }
  .slide .slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slide .slide__content.slide__content__left {
    left: 15%;
    transform: translate(-15%, -50%);
  }
  .slide .slide__content.slide__content__right {
    right: -10%;
    left: auto;
    transform: translate(5%, -50%);
  }
  .slide .slide__content--headings {
    color: #fff;
  }
  .slide .slide__content--headings h2 {
    font-size: 4.5rem;
    margin: 10px 0;
  }
  .slide .slide__content--headings .animated {
    transition: all 0.5s ease;
  }
  .slide .slide__content--headings .top-title {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #090080;
    text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
  }
  .slide .slide__content--headings p {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #191717;
    font-size: 18px;
     width: 55%;
     padding-top: 15px;
     /* float: right; */
  }
  .slide .slide__content--headings h2 {
    font-family: LibreBodoni-Regular;
    font-size: 49px;
    color:#011f2e;
    margin: 0;
  
  }
  .slide .slide__content--headings h3 {
    font-family: LibreBodoni-Bold;
    font-size: 67px;
    color:#011f2e;
    margin: 0;
    line-height: 50px;
  
  }
  .slide .slide__content--headings .button-custom {
    text-decoration: none;
    color: #333;
    padding: 1.2rem 2.5rem;
    font-size: 1.5rem;
  }
  
  .slider [data-animation-in] {
    opacity: 0;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    transition: opacity 0.5s ease 0.3s;
    transition: 1s;
  }